#{form @Documents.create(), class: "card"}
  <table>
  <tr class="field">
    <td class="right">URL<br />
    <td><input type="text" name="url" />
  </tr>
  <tr class="field">
    <td class="right">Titolo<br />
    <td><input type="text" name="title" />
  </tr>
  <tr class="field">
  	<td class="right">Studente (PIN)<br />
  	<td><input type="text" name="student_pin" />
  </tr>
  <tr>
    <td> </td>
	<td class="right"><div class="field">
    <input type="submit" class="button" />
	</div></td>
  </tr>
  </table>
#{/form}