#{extends 'main.html' /}
#{set title:'Home' /}

#{if documents.size < 1}
	<div class="card">Non ci sono documenti</div>
#{/}

#{else}
<table>
  <tr>
    <th>Documento</th>
	<th class="center">Studente</th>
	<th class="center">Creato</th>
    <th class="actions center">Azioni</th>
  </tr>
#{/}

#{list documents}
  <tr class="<%= cycle('odd', 'even')%>">
    <td><%= link_to document.description, document.url %></td>
	<td class="center"><%= link_to document.student, documents_path(student: document.student) %></td>
	<td class="center"><%= document.created_at.strftime Date.today == document.created_at ? "%H:%M" : "%d %b" %></td>
    <td class="actions center">
		<%= link_to 'Show', document, :class=>"button" %>
		<%= link_to 'Edit', edit_document_path(document), class: "button" %>
		<%= link_to 'Destroy', document, confirm: 'Are you sure?', method: :delete, :class=>"button" %>
	</td>
  </tr>
#{/}

#{if documents.size > 0}
	</table>
#{/}
<br />
<div class="center">
	<a href="@{Documents.index}" class="button">Tutti i documenti</a>
	<a href="@{Documents.create}" class="button">Nuovo documento</a>
</div>