#{extends 'main.html' /}
#{set title:'Home' /}

#{if documents.size < 1}
	<div class="card">Non ci sono documenti</div>
#{/}

#{else}
<table>
  <tr>
    <th>Documento</th>
	<th class="center">Studente</th>
	<th class="center">Creato</th>
    <th class="actions center">Azioni</th>
  </tr>
#{/}
#{list documents, as:'doc'}
  <tr class="${doc_parity}">
    <td><a href="${doc.url}">${doc.title}</a></td>
	<td class="center">#{a @Documents.findByStudentPin(doc.studentPin)}${doc.studentPin}#{/a}</td>
	<td class="center">Timestamp</td>
    <td class="actions center">
		#{a @Documents.form(doc.id), class:"button"}Modifica#{/a}
		#{a @Documents.delete(doc.id), class:"button"}Cancella#{/a}
	</td>
  </tr>
#{/}

#{if documents.size > 0}
	</table>
#{/}
<br />
<div class="center">
	<a href="@{Documents.index}" class="button">Tutti i documenti</a>
	<a href="@{Documents.form(-1)}" class="button">Nuovo documento</a>
</div>